In [1]:
import pandas as pd

df = pd.DataFrame(data=[['Jobin','csa','data analyst'],['Arun','csa','always unimpressed'],['Roop','Areonautical eng','full of shit']],columns=['Name','Job','skill'])

df.head(10)

    Name               Job                skill
0  Jobin               csa         data analyst
1   Arun               csa  looking unimpressed
2   Roop  Areonautical eng   being full of shit

In [8]:
for i, data in df.iterrows():
    print(i)
    print(data.Job)

0
csa
1
csa
2
Areonautical eng